body{
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: #ffffff;
    word-spacing: 6px;
}
header {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    box-shadow: 10px 10px 10px;
    border-radius: 10px;
    padding: 1%;
    letter-spacing: 4%;
    word-spacing: 4%;
    text-align: center;
    font-size: xx-large;
}
.box{
    display: flex;
    cursor: pointer;
    padding: 10px 20px;
    background: white;
    border-radius: 50px;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

.box input{
    width: 1280px;
    outline: none;
    border: none;
    background: transparent;
}
h1 {
    break-inside: auto;
    margin: 10px 0 30px;
    text-align: center;
    color: White;
    font-size: xx-large;
}
h2 {
    text-align: center;
    color: white;
    font-size: xx-large;
    margin: 10px 0 30px;
    line-height: 80px;
}
h3 {
    text-align: center;
    color: white;
    font-size: xx-large;
    margin: 10px 0 30px;
    line-height: 80px;
}
h4 {
    text-align: center;
    color: white;
    font-size: xx-large;
    margin: 10px 0 30px;
    line-height: 80px;
}
h5 {
    text-align: center;
    color:  white;
    margin: 10px 0 30px;
    line-height: 80px;
    font-size: xx-large;
}
h6 {
    text-align: center;
    color:  white;
    margin: 10px 0 30px;
    line-height: 80px;
    font-size: xx-large;
}
p {
    text-align: center;
    margin: 10px 0 30px;
    line-height: 80px;
    font-size: xx-large;
    color: white;
}
section {
    background-color:black;
    padding: 2%;
    border-radius: 50px;
    text-align: center;
    color: white;
}
a {
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    padding: 1%;
    text-align: center;
    background-color: black;
    text-decoration: none;
    color: white;
    padding: 10px 25px;
    border: 1px solid #fff;
    border-radius: 50px;
    cursor: pointer;
}
video {
    background-color: blue;
    border-radius: 10px;
    padding: 2%;
    text-align: center;
}
img {
    border-radius: 10px;
    padding: 2%;
    text-align: center;
}
font {
    color:white;
}
.bubbles img{
    width: 50px;
    animation: bubble 7s linear infinite;
}
.bubbles{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
}
@keyframes bubble{
    0%{
        transform:translateY(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    70%{
        opacity: 1;
    }
    100%{
        transform:translateY(-80vh);
        opacity: 0;
    }



}
.bubbles img:nth-child(1){
    animation-delay: 2s;
    width: 20px;
}
.bubbles img:nth-child(2){
    animation-delay: 3s;
    width: 30px
}
.bubbles img:nth-child(3){
    animation-delay: 7s;
    width: 20px;
}
.bubbles img:nth-child(4){
    animation-delay: 4s;
}
.bubbles img:nth-child(5){
    animation-delay: 1s;
    width: 20px;
}
.bubbles img:nth-child(6){
    animation-delay: 6s;
}
.bubbles img:nth-child(7){
    animation-delay: 5s;
    width: 35px;
}
.content{
    position: absolute;
    z-index: 2;
    text-align: center;
    left: 5%;
    right: 5%;
    top: 10%;
}